{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if not debug %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(61461787, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/61461787" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MJK77Z9');</script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162140419-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-162140419-1');
        </script>
        <!-- END Global site tag (gtag.js) - Google Analytics -->
    {% endif %}

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% url 'theme' %}" rel="stylesheet" type="text/css">
    <link href="{% url 'favicon' %}" rel="shortcut icon" type="image/png"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

{% if not debug %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJK77Z9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

<header>
    <h1>{% block header %}{% endblock %}</h1>
    <nav>
        {% with request.resolver_match.namespace as ns %}
            <ul>
                <li><a class="{% if ns == 'target' %}active{% endif %}" href="{% url 'target:index' %}">Target</a></li>
                <li><a class="{% if ns == 'resume' %}active{% endif %}" href="{% url 'resume:index' %}">Resume</a></li>
                <li><a class="{% if ns == 'portfolio' %}active{% endif %}" href="{% url 'portfolio:index' %}">Portfolio</a></li>
                <li><a class="{% if ns == 'thoughts' %}active{% endif %}" href="{% url 'thoughts:index' %}">Thoughts</a>
                </li>
            </ul>
        {% endwith %}
    </nav>
</header>

<main>
    {% block main %}{% endblock %}
</main>

<footer>
    <p>(C) Alexander Sidorov 2020</p>
    <p><a href="mailto:alex.n.sidorov@gmail.com">email</a></p>
    <p><a href="https://t.me/alexander.sidorov">telegram</a></p>
    <p><a href="https://www.linkedin.com/in/alexnsidorov/">linkedin</a></p>
</footer>

</body>

</html>
