[run]
branch = True
omit =
    .cache/*
    .static/*
    db_env_to_psql.py
    src/manage.py
    src/periodic/celeryconfig.py
    src/project/asgi.py
    src/project/settings.py
    src/project/wsgi.py
source = src


[report]
fail_under = 96
skip_covered = True
