**/.cache
**/.DS_Store
**/.serverless/
**/node_modules/
*.swp
.cache/
.coverage
.coveragerc
.git/
.gitignore
.idea/
.isort.cfg
.serverless/
.static/
.travis.yml
docker-compose.yml
node_modules/
Procfile
README.md
runtime.txt
serverless/
src/celerybeat-schedule
