[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
codecov = "*"
coverage = "*"
django-silk = "*"
freezegun = "*"
httpie = "*"
ipython = "*"
isort = "*"
line-profiler = "*"
pudb = "*"

[packages]
delorean = "*"
dj-database-url = "*"
django = "*"
django-bmemcached = "*"
django-ipware = "*"
dynaconf = {extras = ["yaml"],version = "*"}
gunicorn = "*"
icalevents = "*"
jinja2 = "*"
psycopg2 = "*"
python-binary-memcached = "*"
requests = "*"
sentry-sdk = "*"
uvicorn = "*"
whitenoise = "*"
djangorestframework = "*"
drf-yasg = {extras = ["validation"],version = "*"}
markdown = "*"
celery = {extras = ["redis"],version = "*"}
bcrypt = "*"

[requires]
python_version = "3.8"
