[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
codecov = "*"
coverage = "*"
django-silk = "*"
freezegun = "*"
httpie = "*"
ipython = "*"
isort = {extras = ["pipfile"], version = "*"}
line-profiler = "*"
pillow = "*"
pudb = "*"

[packages]
boto3 = "*"
celery = {extras = ["redis"],version = "*"}
celery-redbeat = "*"
delorean = "*"
dj-database-url = "*"
django = {extras = ["bcrypt"],version = "*"}
django-bmemcached = "*"
django-ipware = "*"
django-storages = "*"
djangorestframework = "*"
drf-yasg = {extras = ["validation"],version = "*"}
dynaconf = {extras = ["yaml"],version = "*"}
gunicorn = "*"
icalevents = "*"
jinja2 = "*"
markdown = "*"
psycopg2-binary = "*"
python-binary-memcached = "*"
requests = "*"
sentry-sdk = "*"
uuid = "*"
uvicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
