[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
httpie = "*"
ipython = "*"
pudb = "*"

[packages]
django = "*"
django-ipware = "*"
gunicorn = "*"
requests = "*"
uvicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
