:root {
    --bg-color: white;
    --font-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    border-bottom-color: var(--font-color);
}

nav * a:hover {
    text-decoration-color: red;
}

a {
    color: darkred;
}

a:visited {
    color: brown;
}

a:hover {
    color: red;
}

article {
    -moz-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    border-left: 12px solid red;
    padding-left: 10px;
}

h2 {
    border-left: 6px solid red;
    padding-left: 10px;
}

h3 {
    border-left: 3px solid red;
    padding-left: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
}