/* thanks to:

https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
https://yesviz.com/devices/iphone-11-pro/

*/

@media only screen and (max-width: 960px) {
    nav * li {
        padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --header-height: 200px;
    }

    nav {
        align-content: flex-start;
    }

    header > h1 {
        flex-basis: 100%;
    }

}

@media only screen and (max-width: 500px) {

    .gw {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .gw > article {
        grid-column: 1;
        grid-row: 2;
    }

    .gw > figure {
        grid-column: 1;
        grid-row: 1;
    }

}

/* --------- iPhone 11 Pro --------- */
@media only screen and (min-height: 812px) {

    :root {
        --header-height: 400px;
        --font-size: 40px;
    }

    header > h1 {
        flex-basis: 100%;
    }

    main {
        margin-left: 40px;
    }

    .gw {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .gw > article {
        grid-column: 1;
        grid-row: 2;
    }

    .gw > figure {
        grid-column: 1;
        grid-row: 1;
    }

    footer {
        padding-left: 40px;
    }
}
