:root {
    --bg-color: rgb(30, 10, 10);
    --font-color: coral;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    border-bottom-color: var(--font-color);
    z-index: 1;
}

nav * a:hover {
    text-decoration-color: red;
}

a {
    color: firebrick;
}

a:visited {
    color: indianred;
}

a:hover {
    color: sandybrown;
}

article {
    -moz-box-shadow: 4px 4px 20px 0px rgba(300, 100, 100, 0.1);
    -webkit-box-shadow: 4px 4px 20px 0px rgba(300, 100, 100, 0.1);
    box-shadow: 4px 4px 20px 0px rgba(300, 100, 100, 0.1);
}

h1 {
    border-left: 12px solid red;
    filter: brightness(2);
    padding-left: 10px;
    z-index: -1;
}

h2 {
    border-left: 6px solid red;
    filter: brightness(1.7);
    padding-left: 10px;
    z-index: -1;
}

h3 {
    border-left: 3px solid red;
    filter: brightness(1.4);
    padding-left: 10px;
    z-index: -1;
}

img {
    filter: sepia(1);
    z-index: -1;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
}