{% extends "meta/index.html" %}

{% load static %}
{% load tz %}

{% block head %}
    <link href="{% static 'schedule/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Schedule of Alexander Sidorov{% endblock %}

{% block subheader %}Schedule{% endblock %}

{% block main %}
    {% timezone "Europe/Minsk" %}

        <p>Schedule: {{ schedule.start }} ~ {{ schedule.end }}</p>

        <div class="calendar-widget">
            {% for day in schedule.days %}
                <p class="header" style="grid-row: 1; grid-column: {{ day.number }}">{{ day.date|date:"D, j M" }}</p>
                {% for event in day.events %}
                    <p style="grid-row: {{ event.slot0 }} / {{ event.slot1 }}; grid-column: {{ day.number }}">
                        {{ event.start|time:"H" }}
                        ~
                        {{ event.end|time:"H" }}
                        {% if request.user.is_superuser %}
                            <br>
                            {{ event.summary|truncatewords:4 }}
                        {% endif %}
                    </p>
                {% endfor %}
            {% endfor %}
        </div>

        {% with schedule.last_update as lu %}
            <p>Last update: {{ lu|date:"F j, Y" }} at {{ lu|time:"H:i" }}</p>
        {% endwith %}

    {% endtimezone %}

{% endblock %}
