{% extends "_base.html" %}

{% block title %}Projects of Alexander Sidorov{% endblock %}

{% block header %}Portfolio{% endblock %}

{% block main %}

<article>
    <p>You can find my projects
        on <a href="https://github.com/tgrx">GitHub</a>
        or <a href="https://gitlab.com/tgrx">GitLab</a>.</p>
    <p>Below is a list with some of them.</p>
</article>

<article>

    <h2>Projects</h2>

    <section>
        <a href="https://github.com/tgrx/alpha"><h3>Alpha</h3></a>
        <p>Alpha is a template repo for creating Python web projects.
            Create from template and just code.</p>
        <p>Batteries included: Docker, tests, linters, rebranding.</p>
        <ul>
            <li><a href="https://alphasrv.herokuapp.com/">Working server</a></li>
            <li><a href="https://github.com/tgrx/alpha">GitHub</a></li>
            <li><a href="https://hub.docker.com/r/alexandersidorov/alpha/">Image @ DockerHub</a></li>
        </ul>
    </section>

    <section>
        <a href="https://github.com/tgrx/oyabun"><h3>Oyabun</h3></a>
        <p>Oyabun is a library for building Telegram bots with very rigorous API.</p>
        <ul>
            <li><a href="https://t.me/oyabun_bot">Working bot</a></li>
            <li><a href="https://github.com/tgrx/oyabun">GitHub</a></li>
        </ul>
        <p>
            <img alt="https://pypi.org/oyabun" src="https://img.shields.io/pypi/v/oyabun.svg">
            <img alt="https://pypi.org/oyabun" src="https://img.shields.io/pypi/wheel/oyabun.svg">
        </p>
    </section>

    <section>
        <a href="https://gitlab.com/tgrx/bulky"><h3>bulky</h3></a>
        <p>(outdated) bulky is a Python library for fast inserts a lot of data into PostgreSQL.</p>
        <p>
            <img alt="https://pypi.org/bulky" src="https://img.shields.io/pypi/v/bulky.svg">
            <img alt="https://pypi.org/bulky" src="https://img.shields.io/pypi/wheel/bulky.svg">
        </p>
    </section>

    <section>
        <a href="https://gitlab.com/tgrx/clavis"><h3>clavis</h3></a>
        <p>(outdated) clavis is a Python library for managing db transacion while using SqlAlchemy.</p>
        <p>
            <img alt="https://pypi.org/clavis" src="https://img.shields.io/pypi/v/clavis.svg">
            <img alt="https://pypi.org/clavis" src="https://img.shields.io/pypi/wheel/clavis.svg">
        </p>
    </section>

</article>

{% endblock %}
