{% extends "_base.html" %}

{% block title %}Resume of Alexander Sidorov{% endblock %}

{% block header %}Resume{% endblock %}

{% block main %}

    <article>
        <p>I’m specializing on software development using Python.</p>
        <p>I have a good knowledge and experience in software design and architecture,
           SQL databases and data storages, data warehousing, cryptography,
           information security, financial management software, code base support,
           algorithms and data structures, networks and protocols.</p>
        <p>I am focused on providing optimal solutions
           which meet customers’ requests
           without increasing technical debt and support costs.</p>
        <p>Recommendations may be provided upon request.</p>
        <p><a href="{{ static('resume/cv.pdf') }}">[ PDF ]</a></p>
    </article>

    <h2>Employment history</h2>

    {% for project in object_list %}
        <article>
            <h3>{% if project.on_air %}🔥 {% endif -%} {{ project.actual_name }}</h3>
            <section>
                <p>from {{ project.started_at.strftime('%b %Y') }}
                   till {{ project.finished_at.strftime('%b %Y') if project.finished_at else 'now' }}
                   ({{ project.duration }})</p>
                <p>At {{ project.organization.name }}</p>
                <p>{{ project.summary }}</p>
            </section>
            {% if project.responsibilities %}
                <section>
                    <h4>Responsibilities:</h4>
                    <ul>
                        {% for resp in project.responsibilities %}
                            <li>{{ resp }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
            {% if project.achievements %}
                <section>
                    <h4>Achievements:</h4>
                    <ul>
                        {% for achievka in project.achievements %}
                            <li>{{ achievka }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
            {% if project.frameworks.count() %}
                <section>
                    <h4>Frameworks:</h4>
                    <ul>
                        {% for framework in project.frameworks.all() %}
                            <li>{{ framework }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        </article>
    {% endfor %}

{% endblock %}
