{% extends "meta/_meta.html" %}

{% block custom_styles %}
    <link href="{{ static('schedule/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Schedule of Alexander Sidorov{% endblock %}

{% block subheader %}Schedule{% endblock %}

{% block main %}
    <p>Schedule:
        {{ days[0].date }}
       ~
        {{ days[-1].date }}
    </p>

    <div class="calendar-widget">
        {% for day in days %}
            <p class="header" style="grid-row: 1; grid-column: {{ day.number }}">
                {{ day.date_s }}
            </p>
        {% endfor %}
        {% for event in object_list %}
            <p style="grid-row: {{ event.slots }}; grid-column: {{ event.day_number }}">
                {{ event.start.strftime("%H:%M") }}
                ~
                {{ event.end.strftime("%H:%M") }}
            </p>
        {% endfor %}
    </div>

{% endblock %}
