:root {
    --cch: 215;
}

.calendar-widget {
    border: 1px solid hsl(var(--cch), 50%, 50%);
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 1fr);
    margin-right: 20px;
}

.calendar-widget > p {
    background-color: hsl(var(--cch), 100%, 90%);
    border: 1px solid hsl(var(--cch), 100%, 50%);
    color: hsl(var(--cch), 20%, 20%);
    font-size: calc(var(--font-size) * 0.6);
    font-style: oblique;
    margin: 1px;
    min-height: 30px;
    min-width: 10px;
    padding-left: 4px;
}

.calendar-widget > p.header {
    background-color: hsl(var(--cch), 100%, 75%);
    border-bottom: 2px solid hsl(var(--cch), 100%, 50%);
    font-style: normal;
    text-align: center;
}
